.flood{
    background: #fafafa;
    padding: 70px 0 0;
}
.flood__text{
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 ;
}
.flood__text p{
    margin: 0;
}
.flood__text span{
    color: var(--orange);
}