.pro{
    padding: 60px 0 80px;
}
.pro__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pro__video{
    flex: 0 0 690px;
}
.pro__video_img{
    width: 100%;
    display: block;
}
.pro__content{
    flex: 0 1 420px;
}
.pro__text{
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 30px;
}
.pro__text p{
    margin-top: 0;
}
.pro__text span{
    color: var(--orange);
}
.pro__btn{
    max-width: 320px;
    margin: 0 auto;
}