<footer class="footer">
    <div class="box">
        <p class="title">Позвоните нам<span>и у вас останутся самые лучшие воспоминания о переезде</span></p>
        <div class="footer__wrap">
            <div class="footer__left">
                <div class="footer__phone">
                    <p class="top_phone">8 (495) 221-29-09</p>
                    <p class="top_jobs">Каждый день с  9:00 до 20:00</p>
                </div>
                <div class="footer__btn">
                    <button class="btn" type="button">Позвонить</button>
                </div>
                <div class="contacts">
                    <a href="skype:shmel-pereezd2" class="contacts__wrap">
                        <span class="contacts__icon">
                            <img src="img/icon_skype.svg" alt="" class="contacts__img">
                        </span>
                        <span class="contacts__text">shmel-pereezd2</span>
                    </a>
                    <a href="mailto:info@shmel-pereezd.ru" class="contacts__wrap">
                        <span class="contacts__icon">
                            <img src="img/icon_mail.svg" alt="" class="contacts__img">
                        </span>
                        <span class="contacts__text">info@shmel-pereezd.ru</span>
                    </a>
                    <span class="contacts__wrap">
                        <span class="contacts__icon">
                            <img src="img/icon_compas.svg" alt="" class="contacts__img">
                        </span>
                        <span class="contacts__text">Наш адрес: 105122, г. Москва, Щелковское шоссе, дом 5, стр.1</span>
                    </span>
                </div>
                <div class="footer__copy">
                    <p>© 2015 Транспортная компания «Шмель» - автомобильные грузоперевозки по Москве и России.</p>
                    <p>Информация на сайте носит справочный характер и не является публичной офертой</p>
                </div>
                <div class="footer__creator">
                    <a href="https://soobwa.ru/" class="creator" target="_blank">
                        <span class="creator__text">Создание и продвижение</span>
                        <img src="img/creator.svg" alt="" class="creator__img">
                    </a>
                </div>
            </div>
            <div class="footer__right">
                <div class="form">
                    <div class="form__header">
                        <p class="form__text">С чего начать и сколько стоит? Как сэкономить, но получить? Хочешь узнать, что такое тонаж и как упаковать любимый фикус? От тебя у нас нет секретов - перезвоним и все расскажем!</p>
                    </div>
                    <div class="form__body">
                        <form id="footerForm" method="get" action="" class="form__form" data-validate>
                            <div class="form__one">
                                <label for="text3" class="form__label">Ваше имя</label>
                                <input id="text3" type="text" class="form__element form__element-input" name="VISITOR_NAME" required>
                            </div>
                            <div class="form__one">
                                <label for="text4" class="form__label">Ваш телефон</label>
                                <input id="text4" type="tel" class="form__element form__element-input" name="VISITOR_PHONE" required>
                            </div>
                            <div class="form__one">
                                <div class="check_inline">
                                    <input type="checkbox" class="check_inline__input" name="check_policy" value="policy_yes" id="policy2" checked required>
                                    <label for="policy2" class="check_inline__label">
                                        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" class="check_inline__icon checkbox">
                                            <rect class="checkbox__rect" width="100%" height="100%"></rect>
                                            <polyline class="checkbox__checked" points="11,20.053 16.964,26.018 30.385,12.598"></polyline>
                                        </svg>
                                        <span class="check_inline__text">Нажимая на кнопку "Позвонить", я даю согласие на обработку персональных данных и соглашаюсь c условиями договора-оферты и политикой конфиденциальности</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form__one">
                                <button class="btn btn-width" type="submit" name="s">Позвоните мне</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>