<header class="header">
    <div class="box">
        <div class="header__wrap">
            <a href="/" class="logo">
                <img class="logo__img logo__img-desktop" src="img/logo.svg" onerror="this.onerror=null; this.src='img/logo.png'" alt="" width="100">
                <img class="logo__img logo__img-mobile" src="img/logo_mobile.svg" onerror="this.onerror=null; this.src='img/logo_mobile.png'" alt="" width="100">
            </a>
            <h1 class="header__slogan">Организация переездов по Москве</h1>
            <div class="header__contacts">
                <p class="top_phone">8 (495) 221-29-09</p>
                <p class="top_jobs">Каждый день с  9:00 до 20:00</p>
            </div>
            <div class="header__call">
                <button class="btn" type="button">Позвонить</button>
            </div>
        </div>
    </div>
</header>